// $accordion-navigation-padding: rem-calc(16);
$accordion-navigation-bg-color: lighten($primary-color,57);
// $accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
// $accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -3%);
// $accordion-navigation-font-color: $jet;
// $accordion-navigation-font-size: rem-calc(16);
// $accordion-navigation-font-family: $body-font-family;

// $accordion-content-padding: $column-gutter/2;
// $accordion-content-active-bg-color: $white;

 .accordion dd:nth-child(odd)  > a {
    background: $accordion-navigation-bg-color;
 }

  .accordion dd:nth-child(even)  > a {
    background: lighten($accordion-navigation-bg-color,3);
 }