$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-font-family: $font-family-sans-serif;

// We use these to control header font styles
$header-font-family: $body-font-family;
$header-font-style: normal;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

.unbpro-font {
    font-family: "unbpro-regularregular";
}

.title {
    @extend .unbpro-font;
    text-align: center;
    text-shadow: 1px 1px ligthen($primary-color, 10);
    font-weight: bold;
}

@import "mixins.scss";

.shadow {
    @include box-shadow($horizontal:0px, $vertical:1px, $blur: 2px , $color: $primary-color);
}

.icon-topbar {
    font-weight: bold;
    // font-size: 100%;
}