from django.contrib.auth.models import User
from django.contrib.auth import authenticate

def create():
    username = 'admin'
    password = '1234'

    if not authenticate(username=username, password=password):
        user = User.objects.create_user(username, 'email', password)
        print "A new user has been created."
        print "username: " + username
        print "password: " + password
        return user
