# -*- coding: utf-8 -*-

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'anato',
        'USER': 'postgres',
        'PASSWORD': '1234',
        'HOST': 'localhost',
    },
    'hub': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'hub',
        'USER': 'postgres',
        'PASSWORD': '1234',
        'HOST': 'localhost',
    }
}
