{% extends 'base.html' %}

{% block 'title' %}Login | Anato HUB{% endblock %}

{% block modal_error %}
    {{ login_error }}
{% endblock %}

{% block 'content' %}

    <div class="small-15 medium-5 large-4 medium-centered large-centered columns">
            <p><h2 class="title">Anato - HUB</h2></p>
            <br>
            <p><h3 class="title">Você não tem acesso a essa página</h3></p>
            <br><br><br><br>
            <form action="/" method="post">
            {% csrf_token %}
                <input id="enter-button" class="button postfix" type="submit" name="enter-button" value="Voltar">
            </form>
    </div>

{% endblock %}

{% block 'footer-scripts' %}
    {% load staticfiles %}
        <script src="{% static "js/login.js" %}"></script>

    {% if modal_error %}
        <script>
            $('#modal_error').foundation('reveal', 'open');
        </script>
    {% endif %}

{% endblock %}