{% extends "base.html" %}
{% block 'title' %}Autorizar Usuários | Anato HUB{% endblock %}
{% block 'content' %}
    <div class="small-15 medium-13 large-13 small-centered columns">
        <p><h2 class="title">Anato - HUB</h2></p>
        <hr>
        <p><h4 class="title">Painel administrativo</h4></p>
        <br>
    </div>
    <div class="row" id="search-bar">
        <div class="small-14 small-centered medium-7 large-7 columns">
            <input type="text" name="search_user" id="search_user" placeholder="Digite o CPF desejado">
        </div>
    </div>

{% endblock 'content' %}
{% block 'footer-scripts' %}
{% load staticfiles %}
<script src={% static "js/user_search.js" %}></script>
{% endblock 'footer-scripts' %}