{% extends 'base.html' %}

{% block 'title' %}{{patient.nome}} | Anato HUB{% endblock %}

{% block 'content' %}

    <div class="small-15 medium-13 large-13 small-centered columns">
        <p><h2 class="title">Anato - HUB</h2></p>
        <hr>
    </div>

    {% include 'patient_information.html' %}

    <div class="row">
        <div class="small-13 small-centered medium-12 medium-centered large-12 large-centered columns">
            <div class="small-15 medium-7 large-7 columns">
                <h3><b>Exames</b></h3>
            </div>

            <div class="small-15 medium-4 medium-offset-3 large-4 large-offset-3 columns right">
                 <form action="/exame/novo/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{patient.codigo}}" id="patient_id" name="patient_id">
                    <button class="postfix"><i class="fi-page-add"></i> Novo Exame</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-13 small-centered medium-9 medium-centered large-9 large-centered columns">
            <dl class="accordion" data-accordion>
                {% if exams %}
                    {% for exam in exams %}
                        <dd>
                        <a href="#exam{{exam.id}}"><i>{{exam.exam_type.description}}</i><br>{{exam.receipt_date}}</a>
                        <div id="exam{{exam.id}}" class="content">
                            <div class="row">
                                <div class="small-15 medium-9 large-9 columns">
                                    <small><b>Status:</b></small><br>
                                    <i id="status">{{exam.specific_exam.status.description}}</i><br>
                                    <small><b>Médico Solicitante:</b></small><br>
                                    <i>{{exam.requesting_physician}}</i><br>
                                    <small><b>Médico Responsável:</b></small><br>
                                    <i>{{exam.responsible_physician}}</i><br>
                                </div>
                                <div class="small-15 medium-6 large-6 columns">
                                    <a href="/exame/{{exam.id}}">
                                        <button class="postfix"><i class="fi-page-search"></i> Ver Exame</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                      </dd>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <p id="message" align="center"><i>O paciente não possui exames registrados.</i></p>
                    </div>
                {% endif %}
            </dl>
            <hr>
        </div>
    </div>
{% endblock %}

{% block 'footer-scripts' %}
    {% if exam_saved %}
        <script>
            $('#exam_saved').foundation('reveal', 'open');
        </script>
    {% endif %}
{% endblock %}
