{% extends 'base.html' %}

{% block 'title' %}Login | Anato HUB{% endblock %}

{% block modal_error %}
    {% if login_error == 1 %}
        Parece que este usuário está desativado.
    {% elif login_error == 2 %}
        Usuário ou senha estão inválidos.
    {% elif message_error %}
        {{message_error}} <br>
        Persistindo o erro, entre em contato com o Desenvolvedor.
    {% endif %}
{% endblock %}

{% block 'content' %}

    <div class="small-15 medium-5 large-4 medium-centered large-centered columns">
        <form action="/login/entrar/" method="post">
            {% csrf_token %}
            <p><h2 class="title">Anato - HUB</h2></p>
            <hr>
            <input id="username" type="text" name="username" placeholder="Usuário">
            <input id="password" type="password" name="password" placeholder="Senha">
            <hr>
            <input id="enter-button" class="button postfix" type="submit" name="enter-button" value="Entrar">
        </form>
    </div>

{% endblock %}

{% block 'footer-scripts' %}
    {% load staticfiles %}
        <script src="{% static "js/login.js" %}"></script>

    {% if modal_error == True %}
        <script>
            $('#modal_error').foundation('reveal', 'open');
        </script>
    {% endif %}

{% endblock %}