{% extends 'base.html' %}

{% block 'title' %}Login | Anato HUB{% endblock %}

{% block 'content' %}

    <div class="small-14 medium-5 large-4 medium-centered large-centered columns">
        <form action="/login/entrar/" method="post">
            {% csrf_token %}
            <p><h2 class="title">Anato - HUB</h2></p>
            <hr>
            <input id="username" type="text" name="username" placeholder="Usuário">
            <input id="password" type="password" name="password" placeholder="Senha">
            <hr>
            <input id="enter-button" class="button postfix" type="submit" name="enter-button" value="Entrar">
        </form>
    </div>

{% endblock %}

{% block 'footer-scripts' %}
    {% load staticfiles %}
        <script src="{% static "js/login.js" %}"></script>
{% endblock %}