{% extends 'base.html' %}

{% block 'title' %}Atualizar Exame | Anato HUB{% endblock %}

{% block 'content' %}

    <div class="small-15 medium-13 large-13 small-centered columns">
        <p><h2 class="title">Anato - HUB</h2></p>
        <hr>
    </div>

    {% include 'patient_information.html' %}

    <div class="small-15 medium-7 large-6 medium-centered large-centered columns">
        <p><h4 class="title">Atualizar Exame:</h4></p>
        <form action="/exame/registrar_atualizacao/" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{patient.codigo}}" name="patient_id" id="patient_id">
            <input type="hidden" value="{{exam.id}}" name="exam_id" id="exam_id">

            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Data da Requisição:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="date" class="form-input calendar" name="request_date" id="request_date" value="{{exam.request_date}}" readonly data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Recebimento do Material:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="date" class="form-input calendar" name="receipt_date" id="receipt_date" value="{{exam.receipt_date}}" readonly data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Coleta do Material:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="date" class="form-input calendar" name="speciment_collection_date" id="speciment_collection_date"  value="{{exam.speciment_collection_date}}" readonly data-date-format="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Material Recebido:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="text" class="form-input" value="{{exam.received_speciment}}" name="received_speciment" id="received_speciment" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Médico Requisitante:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="text" class="form-input" value="{{exam.requesting_physician}}" name="requesting_physician" id="requesting_physician" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Médico Residente:</span>
                    </div>
                    <div class="large-8 columns">
                        <input type="text" class="form-input" value="{{exam.responsible_physician}}" name="responsible_physician" id="responsible_physician" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row collapse prefix-radius">
                    <div class="large-7 columns">
                        <span class="prefix">Tipo de Exame:</span>
                    </div>
                    <div class="large-8 columns">
                        <select name="exam_type" id="exam_type">
                                <option value="{{exam_type.id}}">{{exam_type.description}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="small-14 small-centered medium-8 medium-centered large-7 large-centered columns">
                <input class="button small expand" type="submit" value="Atualizar" />
            </div>
        </form>
    </div>

{% endblock %}

{% block 'footer-scripts' %}
    {% load staticfiles %}
        <script src="{% static "js/jquery.inputmask.js" %}"></script>
        <script src="{% static "js/foundation-datepicker.js" %}"></script>
        <script type="text/javascript">
            $(document).ready( function(){
                $('.calendar').fdatepicker();
                $('.hour').inputmask('99:99')
            })
        </script>
        {% if exam_saved %}
            <script>
                $('#exam_saved').foundation('reveal', 'open');
            </script>
        {% endif %}
{% endblock %}
