{% extends "base.html" %}

{% block 'title' %}Exame Necrópsia | Anato HUB{% endblock 'title' %}

{% block 'content' %}

    <div class="small-15 medium-13 large-13 small-centered columns">
        <p><h2 class="title">Anato - HUB</h2></p>
        <hr>
    </div>

    <div class="small-15 medium-8 large-8 medium-centered large-centered columns">
        <p><h4 class="title">Exame Necrópsia</h4></p>
        <form action="/autopsia/" method="post" id="necropsy_form">
            {% csrf_token %}
            {% load wysiwyg %}
            {% wysiwyg_setup  %}
            <input type="hidden" name="exam_id" value="{{exam.id}}">
            <input type="hidden" name="patient_id" value="{{exam.patient}}">
            <input type="hidden" name="necropsy_id" value="{{exam.specific_exam.id}}">

             <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Informações Clínicas:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="clinical_information" name="clinical_information">{{exam.specific_exam.clinical_information | default_if_none:"" }}</textarea>
                            {% wysiwyg_editor "clinical_information" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Doença principal:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="main_disease" name="main_disease">{{exam.specific_exam.main_disease | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "main_disease" %}
                        </div>
                    </div>
                </div>
            </div></p>

           <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Doença consequência final:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="consequential_final_disease" name="consequential_final_disease">{{exam.specific_exam.consequential_final_disease | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "consequential_final_disease" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Doenças contribuintes:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="contributors_disease" name="contributors_disease">{{exam.specific_exam.contributors_disease | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "contributors_disease" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Doença consequência:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="consequential_disease" name="consequential_disease">{{exam.specific_exam.consequential_disease | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "consequential_disease" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Outras doenças:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="other_diseases" name="other_diseases">{{exam.specific_exam.other_diseases | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "other_diseases" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Notas:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="note" name="note">{{exam.specific_exam.note | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "note" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <p><div class="row">
                <div class="large-15 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-15 columns">
                            <span class="prefix">Legenda:</span>
                        </div>
                        <div class="small-15 columns">
                            <textarea rows="5" cols="100" form="necropsy_form" id="footer" name="footer">{{exam.specific_exam.footer | default_if_none:""}}</textarea>
                            {% wysiwyg_editor "footer" %}
                        </div>
                    </div>
                </div>
            </div></p>

            <div class="small-14 small-centered medium-8 medium-centered large-7 large-centered columns">
                <input class="button small expand" type="submit" value="Enviar" />
            </div>
        </form>
    </div>

{% endblock %}

{% block 'footer-scripts' %}
    {% load staticfiles %}
        <script src="{% static "js/foundation-datepicker.js" %}"></script>
        <script src="{% static "js/wysiwyg-format.js" %}"></script>
{% endblock %}