{% autoescape off %}

<div class="row">
    <h6 class="exam-field">Hora do exame</h6>
    <div class="row">
        {{specific_exam.examination_time | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Informações Clínicas</h6>
    <div class="row">
        {{specific_exam.clinical_information | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Quantidade</h6>
    <div class="row">
        {{specific_exam.quantity | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Microscopia</h6>
    <div class="row">
        {{specific_exam.microscopic | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Conclusões</h6>
    <div class="row">
        {{specific_exam.conclusion | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Notas</h6>
    <div class="row">
        {{specific_exam.note | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>
<div class="row">
    <h6 class="exam-field">Legenda</h6>
    <div class="row">
        {{specific_exam.footer | default_if_none:"<i>Nenhuma informação adicionada.</i>"}}
    </div>
    <hr>
</div>

{% endautoescape %}